.mainBoard {
  text-align: center;
  z-index: 1000000;
}

.title {
  font-size : 100px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.getStarted {
  width: 200px;
  height: 50px;
  border-radius: 50px;
  color: white;
  background-color: black;
  border: none;
  outline:none;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 18px;
  z-index: 10000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.getStarted:hover {
  background-color:rgb(102, 102, 102);
  width: 205px;
  height: 55px;
}

.getStarted:active {
  width: 200px;
  height: 50px;
  background-color:rgb(35, 35, 35);
  color: rgb(206, 206, 206);
}

.description {
  font-size : 30px;
  bottom: 0;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}